@import '@fontsource/fira-mono';

@font-face {
    font-family: 'Lato Medium';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Lato/Lato-Bold.ttf'); 
}

@font-face {
    font-family: 'Lato Semi-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
    font-family: 'Ubuntu Bold';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Ubuntu/Ubuntu-Bold.ttf'); 
}



:root {
    --flow-space: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
	--font-body: Lato Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
    --text-base: 1rem;
    --text-sm: 0.85rem;
    --text-xs: 0.75rem;
    --text-xxs: 0.5rem;
    --text-spacing: 0.1rem;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
    
    --color-theme-1: #FF695A;
    --color-theme-2: #E5007F;
    --color-theme-3: #00A399;
    --color-yellow: #FEF4E5;
    --color-grey-lighter: #D1CEC7;
    --color-grey-light: #B9B9B9;
    --color-grey-light-mid: #909090;
    --color-grey-mid: #555555;
    --color-grey-dark: #404040;
    --color-grey-darker: #333333;
    --color-grey-darkest: rgb(38, 38, 38);
    --color-box-shadow: rgba(38, 38, 38, 0.75);

    /* --color-theme-1: #808080; */
    /* --color-theme-2: #A0A0A0; */
    /* --color-theme-3: #C0C0C0; */
    --color-yellow: #E0E0E0;
    --color-grey-lighter: #FFF;
    --color-grey-light: #FFF;
    --color-grey-mid: #B0B0B0;
    /* --color-grey-dark: #909090; */
    /* --color-grey-darker: #707070; */
    /* --color-grey-darkest: #606060; */
    --color-box-shadow: rgba(50, 50, 50, 0.75);   
    --max-width: 1600px;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-grey-darker);
	background-size: 100vw 100vh;
    letter-spacing: 0.1rem;
    @media all and (display-mode: fullscreen) {
        min-height: calc(100vh - 2rem);
    }
}

p, li {
    font-weight: 400;
	line-height: 1.5;
    font-size: 1rem;
}

p:not(code > p), li {
    color: var(--color-yellow);
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
    color: inherit;
	text-decoration: underline;
}

h1, h2, h3, h4, p {
    margin: 0;
    margin-top: var(--flow-space, 1em);
}

h1 {
    font-family: 'Ubuntu Bold', sans-serif;
    color: var(--color-theme-1);
    font-size: clamp(2.25rem, 1.82rem + 2.14vw, 3.75rem);
}

h2 {
    color: var(--color-theme-2);
    font-size: clamp(1.75rem, 1.39rem + 1.79vw, 3rem);
    font-family: 'Lato Bold', sans-serif;
}

h3 {
    text-transform: uppercase;
    color: var(--color-theme-3);
    font-family: 'Lato Bold', sans-serif;
    font-size: clamp(1.25rem, 1.11rem + 0.71vw, 1.75rem);
}

h4 {
    color: var(--color-yellow);
    font-family: 'Lato Bold', sans-serif;
    font-size: clamp(1.125rem, 1.09rem + 0.18vw, 1.25rem);
}

ul {
    list-style: none;
    padding: 0 1rem;
    margin: 0;
}

li {
    margin: 0;
    margin-top: 0.5rem;
}

.content {
    min-height: calc(100vh - 56px - 2rem);
	padding: 1rem;
    background-color: var(--color-grey-dark);
}
@media(min-width: 1200px) {
    .content {
        padding: 1rem 2rem;
    }
}

pre > code {
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    color: var(--color-grey-dark);
    line-height: 1.5;
}

code {
    font-family: var(--font-mono);
    color: var(--color-theme-1);
}

pre {
    background-color: var(--color-yellow);
    padding: 1rem;
    overflow: scroll;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
    letter-spacing: 0.1rem;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    @media all and (display-mode: fullscreen) {
        max-width: none;
    }
}

/* Monaco overwrites */
.decorationsOverviewRuler {
    display: none!important;
}

/* strings */
.monaco-scrollable-element, .margin-view-overlays, .lines-content {
    background-color: var(--color-grey-darkest)!important;
}
.monaco-scrollable-element, .margin-view-overlays, .lines-content .mtk5, .hljs-string {
    color: var(--color-theme-2);
}
/* numbers */
.monaco-scrollable-element, .margin-view-overlays, .lines-content .mtk6, .hljs-number {
    color: var(--color-theme-1);
}
/* comments */
.monaco-scrollable-element, .margin-view-overlays, .lines-content .mtk7, .hljs-comment {
    color: var(--color-theme-2);
}
/* const etc. */
.monaco-scrollable-element, .margin-view-overlays, .lines-content .mtk22, .hljs-title {
    color: var(--color-theme-3);
}

.monaco-editor .bracket-highlighting-0 {
    color: var(--color-theme-3) !important;
}

.monaco-editor .bracket-highlighting-1 {
    color: var(--color-theme-2) !important;
}

.lines-content .mtk8 {
    color: #d4d4d4;
}

*:focus {
    outline: none;
    border-bottom: 2px solid var(--color-theme-3);
}

dialog::backdrop {
    background: rgba(255, 105, 90, 0.5);

}

canvas {
    contain: paint;
}

.qc-circuit line {
	stroke: var(--color-theme-2)!important;
    stroke-width: 2px;
}

.qc-circuit text {
	font-size: var(--text-xs);
    font-family: 'Lato Bold', sans-serif;
    font-weight: bold;
}

.qc-circuit text, 
.qc-circuit circle {
	fill: var(--color-theme-2)!important;
	stroke: none!important;
}

.qc-circuit ellipse, 
.qc-circuit rect, 
.qc-circuit path {
	fill: var(--color-grey-darker)!important;
	stroke: var(--color-theme-2)!important;
    stroke-width: 2px;
	cursor: grab;
}

.qc-gate-label {
    transform: translate(1px,1px);
}

.circuit__svg > svg {
    transform: scale(0.8) translate(-18px, -31px);
    transform-origin: top left;
}