@import '@fontsource/fira-mono';

@font-face {
    font-family: 'Lato Medium';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Lato/Lato-Bold.ttf'); 
}

@font-face {
    font-family: 'Lato Semi-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
    font-family: 'Ubuntu Bold';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Ubuntu/Ubuntu-Bold.ttf'); 
}



:root {
    --flow-space: clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
	--font-body: Lato Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
    --text-base: 1rem;
    --text-sm: 1rem;
    --text-xs: .75rem;
    --text-xxs: 0.5rem;
    --text-spacing: 0.1rem;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
    --max-width: 1600px;

    --color-theme-1: #00f6ff; /* Laser Cyan */
    --color-theme-2: #00ff9f; /* Hyper Neon Green */
    --color-theme-3: #ff1fff; /* Ultraviolet Magenta */
    --color-theme-4: #ff6c00;/* Blazing Neon Orange */    
    --color-theme-5: #faff00;/* Electric Acid Yellow */
    --color-yellow: #fdf6f0;  /* Warm Gold */
    --color-grey-lighter: #fdf6f0; /* Blush White */
    --color-grey-light: #e7dcd7;   /* Pale Rose Grey */
    --color-grey-light-mid: #c8b8b2; /* Warm Mid Grey */
    --color-grey-mid: #a89c96;       /* Soft Clay Grey */
    --color-grey-dark: #7e6d66;      /* Cocoa Brown */
    --color-grey-darker: #5e4f49;    /* Deep Earth Grey (moderated) */
    --color-grey-darkest: #2f2521;   /* Muted Charcoal Brown */
    --color-black: #15110f; /* Near-black with warm brown tone */
    --color-pink: #f8d7da; /* Blush Pink */
    --color-box-shadow: rgba(60, 40, 40, 0.6); /* Warm Shadow */

}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-grey-darkest);
	background-size: 100vw 100vh;
    letter-spacing: 0.1rem;
    @media all and (display-mode: fullscreen) {
        min-height: calc(100vh - 2rem);
    }
}

p, li {
    font-weight: 400;
	line-height: 1.5;
    font-size: var(--text-sm);
}

p:not(code > p), li {
    color: var(--color-yellow);
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
    color: inherit;
	text-decoration: underline;
}

h1, h2, h3, h4, p {
    margin: 0;
    margin-top: var(--flow-space, 1em);
}

h1 {
    font-family: 'Ubuntu Bold', sans-serif;
    color: var(--color-grey-darkest);
    font-size: clamp(2.25rem, 1.82rem + 2.14vw, 3.75rem);
}

h2 {
    color: var(--color-grey-darkest);
    font-size: clamp(1.75rem, 1.39rem + 1.79vw, 3rem);
    font-family: 'Lato Bold', sans-serif;
}

h3 {
    text-transform: uppercase;
    color: var(--color-grey-darkest);
    font-family: 'Lato Bold', sans-serif;
    font-size: clamp(1.25rem, 1.11rem + 0.71vw, 1.75rem);
}

h4 {
    color: var(--color-yellow);
    font-family: 'Lato Bold', sans-serif;
    font-size: clamp(1.125rem, 1.09rem + 0.18vw, 1.25rem);
}

ul {
    list-style: none;
    padding: 0 1rem;
    margin: 0;
}

li {
    margin: 0;
    margin-top: 0.5rem;
}

.content {
    min-height: calc(100vh - 56px - 2rem);
	padding: 1.5rem;
    background-color: var(--color-grey-dark);
}
@media(min-width: 1200px) {
    .content {
        padding: 1rem 2rem;
    }
}

pre > code {
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    color: var(--color-grey-dark);
    line-height: 1.5;
}

code {
    font-family: var(--font-mono);
    color: var(--color-theme-1);
}

pre {
    background-color: var(--color-grey-darkest);
    padding: 1rem;
    overflow: scroll;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
    letter-spacing: 0.1rem;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    @media all and (display-mode: fullscreen) {
        max-width: none;
    }
}

/* Monaco overwrites */
.decorationsOverviewRuler {
    display: none!important;
}

/* strings */
.monaco-scrollable-element, .margin-view-overlays, .lines-content {
    background-color: var(--color-black)!important;
}
.monaco-scrollable-element, .margin-view-overlays, .lines-content .mtk5, .hljs-string {
    color: var(--color-theme-2);
}
/* numbers */
.monaco-scrollable-element, .margin-view-overlays, .lines-content .mtk6, .hljs-number {
    color: var(--color-theme-1);
}
/* comments */
.monaco-scrollable-element, .margin-view-overlays, .lines-content .mtk7, .hljs-comment {
    color: var(--color-theme-2);
}
/* const etc. */
.monaco-scrollable-element, .margin-view-overlays, .lines-content .mtk22, .mtk8, .hljs-title {
    color: var(--color-theme-3)!important;
}

.monaco-editor .bracket-highlighting-0 {
    color: var(--color-theme-3) !important;
}

.monaco-editor .bracket-highlighting-1 {
    color: var(--color-theme-4) !important;
}

.monaco-editor .bracket-highlighting-2 {
    color: var(--color-theme-5) !important;
}

.monaco-editor .sticky-widget-lines-scrollable, .monaco-editor .sticky-widget-line-numbers {
    background-color: var(--color-black)!important;
}

.lines-content .mtk8 {
    color: #d4d4d4;
}

*:focus {
    outline: none;
    border-bottom: 2px solid var(--color-theme-3);
}

dialog::backdrop {
    /* what is --color-grey-darker as a rgb values? */
    background: rgba(94, 79, 73, 0.75);
}

canvas {
    contain: paint;
}

.qc-circuit line {
	stroke: var(--color-theme-1)!important;
    stroke-width: 2px;
}

.qc-circuit text {
	font-size: var(--text-xs);
    font-family: 'Lato Bold', sans-serif;
    font-weight: bold;
}

.qc-circuit text, 
.qc-circuit circle {
	fill: var(--color-theme-1)!important;
	stroke: none!important;
}

.qc-circuit ellipse, 
.qc-circuit rect, 
.qc-circuit path {
	fill: var(--color-grey-dark)!important;
	stroke: var(--color-theme-1)!important;
    stroke-width: 2px;
	cursor: grab;
}

.qc-gate-label {
    transform: translate(1px,1px);
}
.qc-wire-label {
    transform: translate(1px,-4px);
}

.qc-gate-params {
    display: none;
}

.circuit__svg > svg {
    transform: scale(0.8) translate(-21px, -31px);
    transform-origin: top left;
}